.menu{
    background-color: #131313;
    display: flex;
    justify-content:center;
    padding: 1.5rem 0;
    ul{
        display:flex;
        align-items:center;
        list-style:none;
        li a{
            text-decoration:none;
            margin:0.8rem 1.5rem;
            color: #626262;
            font-weight:700;
            font-size: 18px;
            &:hover {
                color:#FFFFFF;
            }
        }
    }
}